
<footer class="bg-dark text-center text-lg-start bg-light text-white p-1" style="margin-top: 10px;">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="me-3"></i>Ubicacion
                    </h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608.0012621466017!2d-58.83624451394214!3d-27.46442017988871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456ca598b7a123%3A0x5c16d156f64a8101!2sMunicipalidad%20de%20la%20Ciudad%20de%20Corrientes!5e0!3m2!1ses-419!2sar!4v1671557409636!5m2!1ses-419!2sar" 
                    width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Preguntas Frecuentes
                    </h6>
                    <p>
                        <i class="fas fa-home me-3"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit?
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit?
                    </p>
                    <p>
                        <i class="fas fa-phone me-3"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit?
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacto
                    </h6>
                    <p>
                        <i class="fas fa-home me-3"></i> Corrientes, Capital
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> planificacion.mcc@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone me-3"></i> +595994883424
                    </p>
                    <a href="https://www.linkedin.com/in/h-ariel-pasian-9ab05626/" class="me-4 text-reset">
                        <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
                      </a>
                      <a href="https://api.whatsapp.com/send?phone=+595994883424" class="me-4 text-reset">
                        <i class="bi bi-whatsapp" style="font-size: 2rem;"></i>
                      </a>
                </div>
            </div>
        </div>
    </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mgpwebdesign.com.ar/">MGP Web Design</a>
        </div>

    </footer>

        <div style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
            <a href="https://api.whatsapp.com/send?phone=+595994883424">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
        </div>
</body>